html {
  font-size: calc(1em + 1vw);
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.75em 0 0.5em 0;
  font-size: 0.5em;
}

header .logo {
  height: 3em;
  padding: 0;
}

header .logo a img {
  height: auto;
  width: 90%;
}

header .right>div {
  padding: 0;
}

header .right>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

header .right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  list-style: none;
}

header .right ul li:not(:last-child) {
  margin-right: 1em;
}

nav {
  border-top: 1px solid grey;
  padding: 0.5rem 0 0 0;
  font-size: 0.6em;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

nav ul li:not(:last-child) {
  margin-right: 4em;
}


main h1 {
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 0;
}

main a {
  font-size: 0.7em;
  color: #6129D8;
}

main a:hover {
  color: #6129D8;
}

main .main-article {
  padding-bottom: 30px;
  border-bottom: 1px solid #DFDFDF;
}

main .main-article img {
  width: 100%;
}

main .articles {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #DFDFDF;
}

main .articles .article {
  margin: 30px 0;
}

main .articles .article img {
  width: 12rem;
  height: auto;
}

main .articles .article time {
  display: block;
  font-size: 0.6em;
}

@media (max-width: 680px) {
  main .main-article {
    padding-bottom: 0;
    border-bottom: none;
  }

  main .articles {
    padding-top: 0;
  }

  main .articles .article img {
    width: 8rem;
    height: auto;
  }

  main .articles .article .description {
    padding-right: 0.6rem;
  }
}